.title {
  position: relative;
   top: 60px;
  font-size: 28px;
}

.top {
  display: flex;
  flex-direction: column;
}

.top_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top_container h2 {
  font-size: 40px;
}

.min_max p {
  margin: 0;
}

.middle {
    width: 100%;
}

.middle p {
  margin: 0;
  width: 280px;
  height: 25px;
}

.bottom {
  margin-top: 20px;
  border: 1px solid #fff;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.bottom span {
   display: block;
}

@media (min-width: 600px) {  
  .top_container h2 {
    font-size: 55px;
  }
}